body {
  margin: 0;
  font-family: Arial;
  background: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085") no-repeat center center fixed;
  background-size: cover;
  transition: 0.4s;
}


header {
  background: rgba(255,255,255,0.7);
  color: #111;   /* dark text for light mode */
  text-align: center;
  padding: 20px;
}


nav {
  background: #444;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  margin: 15px;
  text-decoration: none;
}

section {
  background: white;
  margin: 15px;
  padding: 20px;
  border-radius: 12px;
}

.skill {
  background: #0a7cff;
  color: white;
  padding: 8px 15px;
  margin: 5px;
  display: inline-block;
  border-radius: 20px;
}

/* Dark Mode */
.dark {
  background: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085") no-repeat center center fixed;
  background-size: cover;
  color: white;
}


.dark section {
  background: #1f1f1f;
}
/* Animation Effects */

section {
  animation: fadeIn 1s ease;
}

.skill:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

/* Button Hover */
button:hover {
  transform: scale(1.1);
}

/* Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
header, section {
  backdrop-filter: blur(6px);
  background: rgba(255,255,255,0.85);
}

/* Glass Effect */
.dark header, .dark section {
  background: rgba(0,0,0,0.7);
}

/* Nav Hover */
nav a:hover {
  color: yellow;
  text-shadow: 0 0 10px yellow;
  transition: 0.3s;
}
/* Loader Style */
#loader {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  font-size: 30px;
}

/* Scroll Animation */
.hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
.dark header {
  color: white;
}
.profile {
  width: 150px;
  border-radius: 50%;
  margin: 10px 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}


